*{
    margin: 0%;
    padding: 0%;

}

body{
    background-color: black;
}
:focus {
    outline-color: gold;
}

.maincontainer{
    width: 100%;
    height: 100%;
    background-color: black;
}


.weaponscontainer{
    height: 25%;
    width: 100%;
    /*border-style:solid;
    border-top: black;*/
    /*border: solid gold;*/
    display: flex;
    margin: 5% 0%;
    padding:  5% 0%;
}

.weaponcontainer{
    height: 100%;
    width: 33%;
    
    border: solid gold;
}

.topitemcontainer{
    height: 25%;
    width: 100%;
    display: flex;
}
.itemimg{
    width: 20%;
    margin: 2%;
}

.itemtext{
    padding-top: 2%;
}

.itemname{
    font-size: 20px;
}

.itemperkcontainer{
    height: 75%;
    width: 100%;
}

.weaponperk{
    margin-top: 2%;
    width: 16%;
    margin-left: 3%;
}
.iteminfo{
    
    display: none;
    opacity: 80%;
    filter: blur(0px);
    transform-style: flat;
    transition-duration: 10s;

    background-color: white;
    position: fixed;
    margin-top: -24.8%;
    margin-left: 0%;
    width: 33.5%;
    height: 19.4%;

    /*margin-top: -28%;
    margin-left: 30%;
    width: 40%;
    height: 80%;*/

}

@media(max-width: 700px) {
    .weaponscontainer{
        display: block;
        border-right-style: none;
    }
    .weaponcontainer{
        width: 100%;
    }
}

