*{
    margin: 0%;
    padding: 0%;

}

body{
    background-color: white;
}
:focus {
    outline-color: gold;
}

.maincontainer{
    width: 80%;
    padding: 1% 10%;
    height: 100%;
    background-color: ghostwhite;/*#282828*/
    display: flex;
    flex-direction: column;
}

.characterscontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.charactercontainer{
    width: 25rem;
    padding: 2rem;   
}
.charactercontainer img{
    width: 100%;   
}
.characterpower{
    color: gold;
    font-size: 2rem;
}
.headercon{
    align-self: center;
    width: 90%;
    border-bottom: solid gold 0.1rem;
}
.headercon h2{
    color: gold;
}

.weaponscontainer{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.weaponcontainer{
    height: 26rem;
    width: 33%;
    background-color: #141454;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0px 5px 15px black;
    /*border: solid gold;*/
    

}
.armorcontainer{
    height: 25rem;
    width: 33%;   
    background-color: #141454;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    border: solid gold;
}


@keyframes cardflip{
    0%  {
        transform: rotateY(0deg);
    }
    25% {
        content-visibility: hidden;
    }
    75% {
        content-visibility: visible;
    }
    100% {
        
        transform: rotateY(180deg);
    }
   
}

.topitemcontainer{
    height: 5rem;
    width: 100%;
    display: flex;
}
.itemimg{
    width: 100%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 3%;
}
.itemimg2{
    width: 100%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 3%;
}

.itemtext{
    padding-top: 2%;
    color: white;
}
.armorcontainer .topitemcontainer .itemtext .itemname{
    font-size: 15px;
}

.itemname{
    font-size: 20px;
}

.itemperkcontainer{
    height: 5rem;
    width: 100%;
}
.itemmodcontainer{
    height: 3.5rem;
    width: 100%;
}

.weaponperk{
    margin-top: 2%;
    width: 16%;
    margin-left: 3%;
}
.iteminfo{
    opacity: 80%;
    filter: blur(0px);
    transform-style: flat;
    transition-duration: 1s;
    max-height: 0%;

    background-color: white;
    position: fixed;

    margin-top: -28%;
    margin-left: 30%;
    width: 40%;
    height: 80%;

}

.iteminfo_topitemcontainer{
    height: 25%;
    width: 100%;
    display: flex;
}
.iteminfo_itemimg{
    width: 20%;
    margin: 2%;
}

.iteminfo_itemtext{
    padding-top: 2%;
}

.iteminfo_itemname{
    font-size: 20px;
}

.iteminfo_itemperkcontainer{
    height: 75%;
    width: 100%;
}
.statrow{
    display: flex;
    flex-direction: row;
}
.itemstats p{
    color: gold;
    width: 10rem;
}
.statrow{
    padding: 0.4rem;
}
.bar{
    background-color: #141454;
    width: 100%;
    border: solid gold;
}
.progresssbar{
    background-color: gold;
    height: 100%;
    padding-right: 2rem;
}

.itemperkcontainer2{
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.itemperkcontainer2 h3 {
    margin-top: 1.5rem;
    color: white;
}
.itemscreenshotcontainer{
    width: 100%;
    height: 42%;
}
.itemscreenshot{
    width: 100%;
}
@media(max-width: 700px) {
    .weaponscontainer{
        display: block;
        border-right-style: none;
    }
    .weaponcontainer{
        width: 100%;
    }
}

